.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px;
}

.active-link {
  background-color: rgba(63, 81, 181, 0.1); // Color primario con opacidad
  color: #3f51b5;
  font-weight: bold;
}
