<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true"
  >
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item routerLink="/products" routerLinkActive="active-link">
        <mat-icon>inventory_2</mat-icon> Productos
      </a>
      <a mat-list-item routerLink="/invoicing" routerLinkActive="active-link">
        <mat-icon>receipt_long</mat-icon> Facturación
      </a>
      <a mat-list-item routerLink="/invoice-history" routerLinkActive="active-link">
        <mat-icon>history</mat-icon> Historial
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Sistema de Facturación</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
