.invoice-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-card {
  width: 100%;
}

.customer-form,
.add-item-form {
  display: flex;
  align-items: center;
  gap: 16px;
}

.doc-type {
  flex: 1;
}
.doc-number {
  flex: 3;
}
.doc-name {
  flex: 5;
}

.item-code {
  flex: 4;
}
.item-quantity {
  flex: 1;
}

.invoice-table {
  width: 100%;
  margin-bottom: 20px;
}

.totals-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  font-size: 16px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding: 8px 0;

  &.total {
    font-weight: bold;
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.create-invoice-btn {
  padding: 20px 40px;
  font-size: 16px;
}
